/*Font(s), Colors, Weight*/

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



body {
    background-color: #ffffff;
    position: relative;
}

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap') 
    format('truetype');
}


/*Header*/

header {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
}

.logo1 {
    margin-top: 10px;
    margin-left: 20px;
}


.fa-solid, .fas {
    position: fixed;
}


header a {
    color: black;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.nav-bar {
    float: right;
}

.hidden, #hamburger {
    display: none
}

#hamburger:checked ~ #main-list {
    display: block;
}

#main-list {
    position: absolute;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;
    margin: 30px 0px; 
}

#main-list li {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;
    margin: 30px 0px;  
    padding: 4px 0;
}


#main-nav a {
    margin-left: 7px;
    display: flex;
}

/* Main */
.push1 {
    background-image: url('./images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 455px;
    max-width: 1300px;
    margin: auto;
    background-position-x: right;
    background-position-y: bottom;
}


.push1 h1 {
    color: white;
    font-family: 'Inter';
    font-size: 24px;
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 15px;

}

.push1 p {
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    margin-left: 60px;
}



.push2 {
    display: flex;
    justify-content: space-around;
}

.push1 button {
    border: none;
    margin-left: 108px;
    width: 82px;
    height: 23px;
    background-color: #E14D2A;
    color: white;
    font-family: 'Inter';
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: -33px;
}

/* Featured Collection */

.title {
    margin: auto;
    font-size: 19px;
    font-family: in;
    font-family: 'Inter';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



@media (min-width: 1px) and (max-width: 767px) {
    
    
    
    #main-list {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: 'Inter';
        font-weight: bold;
        font-size: 24px;
        margin: 0px 0px; 
        background-color: #F8F8F8;
        background-image: url('./images/ww.png');
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: right;
    }
    
    label.hamburger {
      position: absolute;
      top: 2px;
      right: 10px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
        
    label.hamburger {
    background-image: url('hamburger-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }

    .desktop {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px; 
        font-family: 'Inter';
    }
}

/* List of Jackets */

.container {
    margin: auto;
    font-family: 'Inter';
}

.container h2 {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

}

.container p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    font-style: bold;
    margin-top: 9px;
}

.jacket-img {
    background-color: #9A9A9A;
    width: 310px;
    height: 208px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.jacket1-img {
    background-color: #9A9A9A;
    width: 310px;
    height: 208px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.jacket2-img {
    background-color: #9A9A9A;
    width: 310px;
    height: 208px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.img1 {
    width: 171px;
    height: 208px;
    display: flex;
    align-items: center;
}

.jacket1-p {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 310px
}

.jacket1-p  {
    display: flex;
    justify-content: space-between;
}

.cart {
    width: 111px;
    height: 28px;
    background-color: #E14D2A;
    border-radius: 5px;
    border-radius: none;
    border-style: none;
    cursor: pointer;
}

.cart a { 
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.sizes-box {
    width: 111px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 199px;
}

.h2btn {
    margin-left: 20px;
    max-width: 310px;
    margin: auto;
    background-color: red;
}

.cart {
    margin-top: 10px;
    margin-left: 199px;
    
}